.service:hover {
    cursor: pointer !important;
}

.search-listings-form-fields input {
    margin-bottom: 5px;
}

.home-hero-container {
    background-image: url('../img/3d_banner.jpg');
    background-position: center;
}