.service:hover {
    cursor: pointer !important;
}

.search-listings-form-fields input {
    margin-bottom: 5px;
}

.home-hero-container {
    background-image: url("../img/transparent.0eaa5ad46f5e.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-2x{
    font-size:2em !important;
};