{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active home-hero-container">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <!-- <img class="img-fluid" src="{% static './assets/img/transpa rent.png' %}"" alt=""> -->
                        </div>
                        <div class=" col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center text-white">
                            <!-- <h1 class="h1 text-success"><b>KAJ</b> Properties</h1>
                            <h3 class="h2">Lorem ipsum dolor sit amet.</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto beatae dolorem
                                doloremque repellat, aut eveniet aspernatur possimus dignissimos?
                                Libero nulla corporis perferendis nam quia.
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Hero -->

<div class="mt-5 mb-5 p-5 container">
    <h1 class="h1 text-center">Admin Panel</h1>
    <hr class="hr mb-5">

    <div class="row">
        {% for listing in listings %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card mb-4 product-wap rounded-0">
                    <div class="card rounded-0">
                        <a href="{% url 'listing-detail' id=listing.id %}">
                            <img class="card-img rounded-0 img-fluid" src="{{ listing.get_banner }}">
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'listing-detail' id=listing.id %}" class="h3 text-decoration-none text-center">
                            <h3>{{ listing.address }}</h3>
                        </a>
                        <hr>
                        <p class="text-center mb-0">
                            <div class="d-flex align-items-center justify-content-around">
                                <div>
                                    <i class="fas fa-bed fa-lg"></i> {{ listing.beds_count }}
                                </div>
                                <div>
                                    <i class="fas fa-bath fa-lg"></i> {{ listing.baths_count }}
                                </div>
                                <p class="text-center mb-0">${{ listing.price }}</p>
                            </div>
                        </p>
                    </div>
                    <div class="card-footer row d-flex justify-content-center">
                        <div class="col-md-6 d-flex justify-content-end">
                            <a href="{% url 'listing-edit' id=listing.id %}">
                                <button class="btn btn-primary">Edit Listing</button>
                            </a>
                        </div>
                        <div class="col-md-6 d-flex justify-content-start">
                            <form action="{% url 'listing-delete' id=listing.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="mt-5 mb-5 p-5 container">
    <h1 class="h1 text-center">Create New Listing</h1>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae adipisci deleniti iste modi iusto.</p>

    <form action="{% url 'listing-create' %}" method="post" enctype="multipart/form-data">
        <fieldset class="form-group">
            {% csrf_token %}
            
            <div class="d-flex justify-content-center mb-4 mt-3">
                <div class="row col-md-10">
                    <input type="text" name="address" id="address" placeholder="Address" class="form-control" required>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 mt-3">
                <div class="row col-md-4">
                    <input type="text" name="zip_code" id="zip_code" placeholder="ZIP Code" class="form-control" required>
                </div>
                <div class="row col-md-4">
                    <input type="text" name="city" id="city" placeholder="City" class="form-control" required>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 mt-3">
                <div class="row col-md-4">
                    <input type="number" name="price" id="price" placeholder="Price" class="form-control" required>
                </div>
                <div class="row col-md-4">
                    <input type="number" name="application_fee" id="application_fee" placeholder="Application Fee" class="form-control" required>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 mt-3">
                <div class="row col-md-4">
                    <input type="number" name="beds" id="beds" placeholder="Beds" class="form-control" required>
                </div>
                <div class="row col-md-4">
                    <input type="number" name="baths" id="baths" placeholder="Baths" class="form-control" required>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 mt-3">
                <div class="row col-md-10">
                    <textarea name="description" id="description" cols="30" rows="20" style="resize: none;" class="form-control" placeholder="Type the listing description here..." required></textarea>
                </div>
            </div>

            <div class="d-flex justify-content-around mb-4 mt-3 images">
                <div class="col-md-2">
                    <h5 style="font-weight: 300;">Select Listing images</h5>
                    <input type="file" name="img" id="img" multiple required>
                </div>
                <div class="row col-md-6"></div>
            </div>

            <div class="d-flex justify-content-around">
                <div class="row col-md-6" style="visibility: hidden;">
                    <div class="btn btn-success"></div>
                </div>
                <div class="row col-md-2">
                    <button class="btn btn-success" type="submit">Create Listing</button>
                </div>
            </div>

        </fieldset>

    </form>
</div>

{% endblock content %}