{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Contact Us</h1>
        <p>
            Proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet.
        </p>
    </div>
</div>

<!-- Start Contact -->
<div class="container py-5">
    <div class="row py-5">
        <div class="col-md-6 d-flex flex-column justify-content-start">
            <h3>Contact Information</h3>
            <hr>

            <div>
                <i class="fas fa-map-marker-alt fa-lg fa-fw"></i>
                123 Consectetur at ligula 10660
                <br><br>
            </div>

            <div>
                <i class="fa fa-envelope fa-lg mx-2"></i>
                <a class="text-dark text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                <br><br>
            </div>

            <div>
                <i class="fa fa-phone fa-lg mx-2"></i>
                <a class="text-dark text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
            </div>

            <p class="mt-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas iste dicta doloremque, repellendus
                voluptatibus labore voluptate? Sit, error mollitia eum, assumenda voluptates vero pariatur veniam itaque
                corrupti fugiat laboriosam nisi?
            </p>

        </div>
        <form class="col-md-6 m-auto" method="post" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="inputemail">Email</label>
                    <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="mb-3">
                <label for="inputsubject">Subject</label>
                <input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="Subject">
            </div>
            <div class="mb-3">
                <label for="inputmessage">Message</label>
                <textarea class="form-control mt-1" id="message" name="message" placeholder="Message"
                    rows="8"></textarea>
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Let’s Talk</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact -->

{% endblock content %}