{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Start Content Page -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active home-hero-container">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <!-- <img class="img-fluid" src="{% static './assets/img/transpa rent.png' %}"" alt=""> -->
                        </div>
                        <div class=" col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center text-white">
                            <!-- <h1 class="h1 text-success"><b>KAJ</b> Properties</h1>
                            <h3 class="h2">Lorem ipsum dolor sit amet.</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto beatae dolorem
                                doloremque repellat, aut eveniet aspernatur possimus dignissimos?
                                Libero nulla corporis perferendis nam quia.
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Contact -->
<div class="container py-5">
    <div class="row py-5">
        <h1 class="h1 col-lg-12 text-center mb-5">We care, how can we help?</h1>
        <div class="col-md-6 d-flex flex-column justify-content-start">
            <h3>Contact Information</h3>
            <hr>

            <div>
                <i class="fas fa-map-marker-alt fa-lg fa-fw"></i>
                123 Consectetur at ligula 10660
                <br><br>
            </div>

            <div>
                <i class="fa fa-envelope fa-lg mx-2"></i>
                <a class="text-dark text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                <br><br>
            </div>

            <div>
                <i class="fa fa-phone fa-lg mx-2"></i>
                <a class="text-dark text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
            </div>

            <p class="mt-5">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas iste dicta doloremque, repellendus
                voluptatibus labore voluptate? Sit, error mollitia eum, assumenda voluptates vero pariatur veniam itaque
                corrupti fugiat laboriosam nisi?
            </p>

        </div>
        <form class="col-md-6 m-auto" method="post" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="inputname">Name</label>
                    <input type="text" class="form-control mt-1" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="inputemail">Email</label>
                    <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Email">
                </div>
            </div>
            <div class="mb-3">
                <label for="inputsubject">Subject</label>
                <input type="text" class="form-control mt-1" id="subject" name="subject" placeholder="Subject">
            </div>
            <div class="mb-3">
                <label for="inputmessage">Message</label>
                <textarea class="form-control mt-1" id="message" name="message" placeholder="Message"
                    rows="8"></textarea>
            </div>
            <div class="row">
                <div class="col text-end mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Let’s Talk</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End Contact -->

<!-- Start FAQs -->
<section class="bg-light py-5 faq-service-detail">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Frequently Asked Questions</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <div class="col">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How to do something?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aut ipsa
                                        ab adipisci quis. Non dolore ab impedit, sequi voluptatem recusandae harum
                                        exercitationem ut saepe accusamus, itaque nam sunt repellat!
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How to do something?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aut ipsa
                                        ab adipisci quis. Non dolore ab impedit, sequi voluptatem recusandae harum
                                        exercitationem ut saepe accusamus, itaque nam sunt repellat!
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        How to do something?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aut ipsa
                                        ab adipisci quis. Non dolore ab impedit, sequi voluptatem recusandae harum
                                        exercitationem ut saepe accusamus, itaque nam sunt repellat!
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End FAQs-->

{% endblock content %}