{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static './assets/img/house.png' %}"" alt="">
                        </div>
                        <div class=" col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>KAJ</b> Management</h1>
                            <h3 class="h2">Lorem ipsum dolor sit amet.</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto beatae dolorem
                                doloremque repellat, aut eveniet aspernatur possimus dignissimos?
                                Libero nulla corporis perferendis nam quia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Mission Statement</h1>
            <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <!-- <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static './assets/img/category_img_01.jpg' %}"" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Watches</h5>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static './assets/img/category_img_02.jpg' %}"" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static './assets/img/category_img_03.jpg' %}"" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
        </div> -->
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Listings</h1>
                <p>
                    Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
        </div>
        <div class="row">
            {% for listing in featured_listings %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'listing-detail' id=listing.id %}">
                            <img src="{{ listing.get_banner }}"" class=" card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <a href="{% url 'listing-detail' id=listing.id %}" class="h2 text-decoration-none text-dark">
                                {{ listing.address }}
                            </a>
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li class="text-muted text-right">${{ listing.price }}</li>
                            </ul>
                            <p class="card-text">
                                {{ listing.description|truncatechars:250 }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Featured Product -->

<!-- Start Search listings -->
<section class="bg-white">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Search Listings</h1>
                <form action="{% url 'search-listings' %}" method="post" class="search-listings-form">
                    {% csrf_token %}
                    <fieldset class="search-listings-form-fields">
                        <div>
                            <label for="address">Address</label>
                            <input name="address" type="text" class="form-control" required>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div>
                                <label for="zip_code">ZIP Code</label>
                                <input name="zip_code" type="text" class="form-control" required>
                            </div>

                            <div>
                                <label for="city">City</label>
                                <input name="city" type="text" class="form-control" required>
                            </div>
                        </div>




                        <label for="price">Price</label>
                        <input name="price_min" type="text" class="form-control" placeholder="Min" required>
                        <input name="price_max" type="text" class="form-control" placeholder="Max" required>

                        <label for="beds">Bed Count</label>
                        <input name="beds_min" type="text" class="form-control" placeholder="Min" required>
                        <input name="beds_max" type="text" class="form-control" placeholder="Max" required>

                        <label for="bath">Bath Count</label>
                        <input name="bath_min" type="text" class="form-control" placeholder="Min" required>
                        <input name="bath_max" type="text" class="form-control" placeholder="Max" required>

                        <input type="hidden" name="next" value="{{ request.path }}">
                    </fieldset>

                    <hr>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success form-control">Search</button>
                    </div>
                </form>
            </div>
        </div>

        {% if listings %}
            <div class="row mt-5">
                {% for listing in listings %}
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="{% url 'listing-detail' id=listing.id %}">
                                <img src="{{ listing.get_banner }}"" class=" card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <a href="{% url 'listing-detail' id=listing.id %}" class="h2 text-decoration-none text-dark">
                                    {{ listing.address }}
                                </a>
                                <ul class="list-unstyled d-flex justify-content-between">
                                    <li class="text-muted text-right">${{ listing.price }}</li>
                                </ul>
                                <p class="card-text">
                                    {{ listing.description|truncatechars:250 }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
<!-- End Search listings -->


{% endblock content %}