{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Open Content -->
<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="{{ listing.get_banner }}"
                        alt="Card image cap" id="product-detail">
                </div>
                <div class="row">
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-dark fas fa-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
                        data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">

                            <!--First slide-->
                            {% for group in image_groups %}
                                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                                    <div class="row">
                                        {% for image in group %}
                                            <div class="col-4">
                                                <a href="#">
                                                    <img class="card-img img-fluid"
                                                        src="{{ image.file.url }}"
                                                        alt="Product Image 1">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            <!--/.First slide-->

                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">{{ listing.address }}</h1>
                        <div class="row">
                            <div class="col-md-2 h3 py-2">${{ listing.price }}</div>
                            <div class="col-md-2 h3 py-2"> <i class="fas fa-bed fa-lg"></i> {{ listing.beds_count }}</div>
                            <div class="col-md-2 h3 py-2"><i class="fas fa-bath fa-lg"></i> {{ listing.baths_count }}</div>
                        </div>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>City: {{ listing.city }}</h6>
                                <h6>ZIP Code: {{ listing.zip_code }}</h6>
                                <h6>Application Fee: ${{ listing.application_fee }}</h6>
                            </li>
                        </ul>


                        <h6>Description:</h6>
                        <p>
                            {{ listing.description|linebreaks }}
                        </p>

                        <div class="row pb-3">
                            <div class="col-md-6 d-grid">
                                <button type="submit" class="btn btn-success btn-lg" name="submit" value="apply">Apply</button>
                            </div>
                            <div class="col-md-6 d-grid">
                                <button type="submit" class="btn btn-success btn-lg" name="submit" value="schedule">Schedule A Showing</button>
                            </div>

                            <div class="col d-grid mt-5">
                                <button type="submit" class="btn btn-outline-success btn-lg" name="submit" value="contact">Contact Us</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->

<script>
    $('#carousel-related-product').slick({
        infinite: true,
        arrows: false,
        slidesToShow: 4,
        slidesToScroll: 3,
        dots: true,
        responsive: [{
            breakpoint: 1024,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 3
            }
        },
        {
            breakpoint: 600,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 3
            }
        },
        {
            breakpoint: 480,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 3
            }
        }
        ]
    });
</script>
<!-- End Slider Script -->

{% endblock content %}