{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active home-hero-container">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <!-- <img class="img-fluid" src="{% static './assets/img/transpa rent.png' %}"" alt=""> -->
                    </div>
                    <div class=" col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center text-white">
                            <!-- <h1 class="h1 text-success"><b>KAJ</b> Properties</h1>
                            <h3 class="h2">Lorem ipsum dolor sit amet.</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto beatae dolorem
                                doloremque repellat, aut eveniet aspernatur possimus dignissimos?
                                Libero nulla corporis perferendis nam quia.
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Close Banner -->

<!-- Start Section -->
<!-- <section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Our Services</h1>
            <p>
                Click on a service for more information.
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow service maintainence-service-btn">
                <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center">Maintainence Requests</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow service faq-service-btn">
                <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                <h2 class="h5 mt-4 text-center">FAQ</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow service testimonials-service-btn">
                <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4 text-center">Testimonials</h2>
            </div>
        </div>
    </div>
</section> -->
<!-- End Section -->

<!-- Start Testimonials -->
<section class="py-5 testimonials-service-detail">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Testimonials</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="col-lg-12 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                            <i class="text-light fas fa-chevron-left"></i>
                        </a>
                    </div>
                    <!--End Controls-->

                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand"
                            data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-6 p-md-5">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3>- Marsha G.</h3>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        "Thank you KAJ Maintenance Team! I appreciate the prompt
                                                        response to my
                                                        service requests, and the care you took in the attention to
                                                        detail to
                                                        complete the job."
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 p-md-5">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3>- Candice Y.</h3>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        "From the moment I fell in love with the apartment to the moment
                                                        I signed the lease, I was taken care of in a prompt and kind
                                                        way. And not to mention the application process was quick and
                                                        easy!"
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-6 p-md-5">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3>- Derek M.</h3>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        "I value the fact that I never have to ask the KAJ Properties
                                                        Team to wear a mask. They are always mindful of their tenants."
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-6 p-md-5">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3>- Mathew H.</h3>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        "The KAJ Property Team always promotes a kind, quiet, respectful
                                                        community environment. The KAJ Property Team is always hands-on
                                                        ensuring the community is clean, and well maintained."
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Second slide-->

                                <!--Third slide-->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-6 p-md-5">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3>- Kevin Q.</h3>
                                                </div>
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        "The KAJ Properties Team Members have been helpful from the
                                                        first interaction. I would say they are professional,
                                                        communicative , and always willing to help."
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Third slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->

                    <!--Controls-->
                    <div class="col-1 align-self-center">
                        <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                            <i class="text-light fas fa-chevron-right"></i>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testimonials-->

<!-- Start Maintainence Requests -->
<section class="bg-light py-5 maintainence-service-detail">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1 mb-5">Resident Services</h1>
                <h4 class="h4">Maintainence Requests</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <div class="col">
                        <div id="wufoo-zdlktf91lauk43"> Fill out my <a
                                href="https://jjuarez.wufoo.com/forms/zdlktf91lauk43">online form</a>. </div>
                        <script
                            type="text/javascript"> var zdlktf91lauk43; (function (d, t) { var s = d.createElement(t), options = { 'userName': 'jjuarez', 'formHash': 'zdlktf91lauk43', 'autoResize': true, 'height': '659', 'async': true, 'host': 'wufoo.com', 'header': 'show', 'ssl': true }; s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function () { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { zdlktf91lauk43 = new WufooForm(); zdlktf91lauk43.initialize(options); zdlktf91lauk43.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script');</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Maintainence Requests-->

<script>
    const maintainence_service_detail = document.querySelector('.maintainence-service-detail');
    const faq_service_detail = document.querySelector('.faq-service-detail');
    const testimonials_service_detail = document.querySelector('.testimonials-service-detail');

    const maintainence_service_btn = document.querySelector('.maintainence-service-btn');
    const faq_service_btn = document.querySelector('.faq-service-btn');
    const testimonials_service_btn = document.querySelector('.testimonials-service-btn');

    maintainence_service_btn.addEventListener('click', () => {
        testimonials_service_detail.classList.add('d-none');
        faq_service_detail.classList.add('d-none');

        maintainence_service_detail.classList.toggle('d-none');
    });

    faq_service_btn.addEventListener('click', () => {
        maintainence_service_detail.classList.add('d-none');
        testimonials_service_detail.classList.add('d-none');

        faq_service_detail.classList.toggle('d-none');
    });

    testimonials_service_btn.addEventListener('click', () => {
        maintainence_service_detail.classList.add('d-none');
        faq_service_detail.classList.add('d-none');

        testimonials_service_detail.classList.toggle('d-none');
    });

</script>

{% endblock content %}